@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme(colors.neutral.50);
  background-color: theme(colors.neutral.900);
}

@layer utilities {
  .header-background {
    backdrop-filter: blur(theme(backdropBlur.sm));
    background-color: theme(colors.transparent);
    background-image: radial-gradient(
        theme(colors.transparent) 1px,
        theme(colors.neutral.900) 1px
      ),
      linear-gradient(to bottom, theme(colors.neutral.900), transparent 50%);
    background-size:
      4px 4px,
      auto;
    mask: linear-gradient(
      to bottom,
      theme(colors.black) 50%,
      theme(colors.transparent) 100%
    );
  }

  .placeholder-background {
    --placeholder-background-color: theme(colors.neutral.100);
    --placeholder-dot-color: theme(colors.neutral.300);

    @media (prefers-color-scheme: dark) {
      --placeholder-background-color: theme(colors.neutral.900);
      --placeholder-dot-color: theme(colors.neutral.700);
    }

    position: relative;
    background: repeating-radial-gradient(
      var(--placeholder-background-color) 1px,
      transparent 999px
    );
    background-size: 24px 24px;
    background-color: var(--placeholder-dot-color);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: radial-gradient(
        transparent 12.5vw,
        var(--placeholder-background-color)
      );
      z-index: 10;
    }
  }
}
