@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));

/* TODO: Update components to use theme tokens */

@theme inline {
  --font-sans: var(--font-satoshi, 'system-ui');
}

@theme {
  --font-mono: var(--font-fira-code, 'monospace');
  --font-display: var(--font-figtree, 'system-ui');

  --color-main: var(--color-stone-900);
  --background-color-main: var(--color-stone-50);

  --color-elevated: var(--color-stone-700);
  --background-color-elevated: color-mix(in srgb,
    var(--color-stone-300) 12%,
    var(--color-stone-100)
  );

  --color-highlight: var(--color-stone-500);
  --background-color-highlight: var(--color-stone-200);

  --color-accent: color-mix(in srgb,
    var(--color-stone-400) 50%,
    var(--color-orange-400)
  );
}

@variant dark {
  --color-main: var(--color-stone-50);
  --background-color-main: var(--color-stone-900);

  --color-elevated: var(--color-stone-200);
  --background-color-elevated: var(--color-stone-800);

  --color-highlight: var(--color-stone-400);
  --background-color-highlight: color-mix(in srgb,
    var(--background-color-elevated) 12%,
    var(--background-color-main)
  );

  --color-accent: var(--color-orange-300);
}

body,
.docs-story {
  color: var(--color-main);
  background-color: var(--background-color-main);
  font-family: var(--font-sans);
  letter-spacing: 0.016rem;
}

@utility neumorphism {
  --tw-neumorphism-tr-color: rgb(255 255 255 / 6%);
  --tw-neumorphism-bl-color: rgb(255 255 255 / 10%);

  box-shadow:
    inset 1px -1px 1px 0 var(--tw-neumorphism-tr-color),
    inset -1px 1px 1px 0 var(--tw-neumorphism-bl-color),
    var(--tw-shadow);
}

@layer utilities {
  .writing-outro-background {
    --line-color: var(--background-color-elevated);

    background-size: --spacing(8) --spacing(8);
    background-image: linear-gradient(
        0deg,
        transparent calc(100% - 1px),
        --alpha(var(--line-color) / 100%)
      ),
      linear-gradient(
        90deg,
        transparent calc(100% - 1px),
        --alpha(var(--line-color) / 100%)
      );

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: --spacing(0.5);
      background: linear-gradient(
        90deg,
        transparent 20%,
        var(--color-white),
        transparent 80%
      );
      mix-blend-mode: overlay;
    }
  }

  .window-card-background {
    background: linear-gradient(
        var(--background-color-main) 0%,
        var(--background-color-elevated) 100%
      ),
      linear-gradient(
        90deg,
        var(--color-fuchsia-400) 0%,
        var(--color-orange-400) 100%
      ),
      radial-gradient(at 0% 80%, var(--color-orange-400) 0%, transparent 80%),
      radial-gradient(
        at 130% 90%,
        var(--color-fuchsia-400) 50%,
        transparent 50%
      ),
      radial-gradient(
        at 10% 130%,
        var(--color-orange-100) 40%,
        transparent 100%
      );
    background-opacity: 0.5;
    background-blend-mode: hard-light, color-burn, normal, lighten;
    background-attachment: fixed;
  }
}
