@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .placeholder-background {
    position: relative;
    background: repeating-radial-gradient(
      theme(colors.neutral.900) 1px,
      transparent 999px
    );
    background-size: 24px 24px;
    background-color: theme(colors.neutral.700);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: radial-gradient(
        transparent 12.5vw,
        theme(colors.neutral.900)
      );
      z-index: 10;
    }
  }
}
